.footer {
  background-color: #6F4E37;
  color: #fff;
  font-size: 1.6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  /*height: 30rem;*/
  margin-top: 10rem;

  
}
.footercounter{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
.footercounter h3{
  font-size: 1.8rem;
  font-weight: 400;
  text-transform: capitalize;
  line-height: 3rem;
  color: #fff;
}

.footercounter p{
  max-width: 500px;
  margin: 10px auto;
  line-height: 28px;
  font-size: 14px;
  color: #fff;
}
.socials{
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem 0 3rem 0;
  
}

.socials li{
  margin: 0 10px;
}

.socials a{
  text-decoration: none;
  color: white;
}
.socials a i{
  font-size: 1.1rem;
  transition: color .4s ease;
}

.socials a:hover i{
  color: burlywood;
}

.footerbottom{
  /*background: burlywood;*/
  width: 100vw;
  padding: 20px 0;
  text-align: center;
}

.footerbottom p{
  font-size: 14px;
  word-spacing: 2px;
  text-transform: capitalize;
}

.footerbottom span{
  text-transform: uppercase;
  opacity: .4;
  font-weight: 200;
}